<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Estatuto do Servidor</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #444;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Estatutos</h1>
        <a href="/Segurança da informação">Estatuto do Servidor Público Estadual</a>
        <br>

        <p>Malwares:</p> 
        <a href="static/malware.pdf" target="_blank">Abrir Arquivo PDF</a>
      

         <a href="/Padrões arquiteturais de software e gestão de projetos">Lei Orgânica da PGE</a>
         <br>

        <p>Malwares:</p> 
        <a href="static/malware.pdf" target="_blank">Abrir Arquivo PDF</a>
      

    </div>
</body>
</html>
